/* sequense of properties in individual class */

/* position */

/* box model */

/* typography */

/*  styling */

/* animation */

/* other */



/*        BASE           */
body {
  background: grey;
}

/*        LAYOUT         */


/*        MODULES        */


/*        STATE          */


/*        THEME          */

.container {
  background: lightblue;
  width: 700px;
  margin: 0 auto;
}



