// -- fonts
@font-face {
  font-family: 'PT Sans Narrow';
  src:  url("fonts/web/ptsansnarrow.woff2") format('woff2'),
        url("fonts/web/ptsansnarrow.woff") format('woff');
}


body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  background: url("./../img/indexBackground.jpg");
}

p,b, a {
  padding: 0px;
  margin: 0px;
}

