.page-main-title {
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: 130px;

  @include font(30px, 30px, $fntSans);
  @include textDecor(bold, uppercase, none, $fntColorBlack);
}

.breadcrumb {
  margin-bottom: 55px;
  margin-left: 130px;

  font-size: 0;
  &__item {
    margin-right: 20px;

    @include inlineBlock(middle);
    a,
    span {
      @include font(14px, 18px, $fntSans);
      @include textDecor(bold, uppercase, none, $fntColorBlack);
    }
    span {
      color: $fntColorBreadcrumbLast;
    }
  }
}

.filters {
  float: left;
  width: 200px;
  margin-right: 20px;
  &__title {
    @include font(24px, 24px, $fntSans);
    @include textDecor(bold, uppercase, none, $fntColorBlack);
  }
}

.brands {
  list-style: none;
  &__name {
    display: block;
    margin-bottom: 20px;
    input {
      display: none;
    }
    label {
      @include font(14px, 24px, $fntSans);
      @include textDecor(bold, uppercase, none, $fntColorBlack);
    }
  }
}

.products-wrapper {
  float: left;
  width: 720px;
  padding-bottom: 40px;

  font-size: 0;
}

.product-post {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;

  font-size: 0;
  background: #ffffff;

  text-align: center;

  @include inlineBlock(top);
  &:nth-of-type(3n) {
    margin-right: 0;
  }
  &__link {
    width: 220px;
    height: 165px;
  }
  &__text {
    width: 170px;

    @include inlineBlock(top);
    @include font(14px, 18px, $fntSans);
    @include textDecor(bold, none, none, $fntColorBlack);
    span {
      display: block;
    }
  }
}

.price-teg {
  width: 188px;
  margin-top: 16px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;

  @include clearfix();
  span {
    float: left;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;

    background: #e5e5e5;

    @include font(14px, 16px, "PT Sans Narrow");
    @include textDecor(bold, uppercase, none, #000000);
  }
  a {
    float: left;
    width: 80px;
    padding-top: 10px;
    padding-bottom: 10px;

    background: #000000;

    @include font(14px, 16px, "PT Sans Narrow");
    @include textDecor(bold, uppercase, none, #ffffff);
  }
}


.item-types {
  list-syle: none;
  &__name {
    display: block;
    margin-bottom: 20px;
    input {
      display: none;
    }
    label {
      @include font(14px, 24px, $fntSans);
      @include textDecor(bold, uppercase, none, $fntColorBlack);
    }
  }
}

.pagination {
  float: left;
  margin-top: 40px;
  margin-bottom: 40px;

  font-size: 0;
  &__item {
    width: 50px;
    margin-right: 8px;

    text-align: center;

    @include inlineBlock(top);
    a {
      display: block;
      padding-top: 15px;
      padding-bottom: 15px;

      background: $colorBlack;

      @include font(14px, 18px, $fntSans);
      @include textDecor(bold, uppercase, none, $fntColorWhite);
    }
    span {
      display: block;
      padding-top: 15px;
      padding-bottom: 15px;

      background: $colorWhite;

      @include font(14px, 18px, $fntSans);
      @include textDecor(bold, uppercase, none, $fntColorBlack);
    }
  }
}
