
.main-footer {
  padding-top: 60px;
  padding-bottom: 40px;

  background: $bgColorFooter;
}

.footer-contacts {
  float: left;

  margin-top: 62px;
  &__text {
    @include size(320px);
    @include font(14px, 24px, $fntSans);
    @include textDecor(bold, uppercase, none, $fntColorWhite);
    a {
      display: block;

      @include textDecor(bold, uppercase, none, $fntColorWhite);
    }
  }
}

.footer-social {
  float: left;

  margin-top: 62px;
  margin-right: 250px;
  margin-left: 70px;

  font-size: 0;

  @include size(140px);
  &__text {
    @include font(14px, 24px, $fntSans);
    @include textDecor(bold, uppercase, none, $fntColorWhite);
  }
  &__btn {
    @include size(40px);
  }
  &__btn--vk {
    // icon
  }
  &__btn--fb {
    // icon
  }
  &__btn--ins {
    // icon
  }
}

.footer-copyright {
  float: right;

  margin-top: 62px;

  @include size(140px);
  b,
  a {
    float: left;

    @include font(14px, 24px, $fntSans);
    @include textDecor(bold, uppercase, none, $fntColorWhite);
    dislplay: block;
  }
}
