
.main-footer {
  backround: $bgColorFooter;

  padding-top: 60px;
  padding-bottom: 40px;

}

.footer-contacts {
  float: left;
  margin-top: 62px;

  &__text {
    @include size(320px);
    @include font(14px, 24px, $fntSans);
    @include textDecor(bold, uppercase, none, $fntColorWhite);

    a {
      @include textDecor(bold, uppercase, none, $fntColorWhite);
      display: block;
    }
  }
}

.footer-social {
  @include size(140px);
  float: left;
  font-size: 0px;
  margin-top: 62px;
  margin-left: 70px;
  margin-right: 250px;

  &__text {
    @include font(14px, 24px, $fntSans);
    @include textDecor(bold, uppercase, none, $fntColorWhite);
  }

  &__btn {

    @include size(40px);

  }

  &__btn--vk {
    // icon
  }

  &__btn--fb {
   // icon
  }

  &__btn--ins {
   // icon
  }
}

.footer-copyright {
  @include size(140px);
  float: right;
  margin-top: 62px;
    b,a {
      @include font(14px, 24px, $fntSans);
      @include textDecor(bold, uppercase, none, $fntColorWhite);
      dislplay: block;
      float: left;
    }
}
