.main-header {
  background: $bgColorHeader;
}

.container {
  @include size($mainWidth);
  @include center();
  @include clearfix();
  // &--catalog,
  // &--price-list,
  // &--product-page {
  //   width: 1200px;
  //   padding-top: 55px;

  //   background: #f8f5f2 url($bgContentPath);
  // }



}

.main-nav {
  float: left;

  margin-left: 10px;

  font-size: 0;

  @include size($mainNavSize);
  &__item {
    width: 100px;
    padding: 25px 5px 25px 5px;

    @include inlineBlock(middle);
    &:first-child {
      padding-left: 0;
    }
  }
  &__link {
    display: block;

    text-align: center;

    @include font(16px, 20px, "PT Sans Narrow");
    @include textDecor(bold, uppercase, none, $fntColorWhite);
  }
}

.user-block {
  float: right;

  width: 220px;
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 25px;

  font-size: 0;

  text-align: right;
  &__icon {
    margin-right: 10px;

    @include inlineBlock(middle);
  }
  &__link {
    @include inlineBlock(middle);
    @include font(16px, 20px, "PT Sans Narrow");
    @include textDecor(bold, uppercase, none, $fntColorWhite);
  }
}
