.index-logo {
  margin-top: 57px;
  margin-bottom: 20px;

  @include size($logoWidth);
  @include center();
}

.features {
  margin-bottom: 80px;

  font-size: 0;

  text-align: center;
  &__item {
    margin-right: 15px;

    @include inlineBlock(top);
    @include size($featureWidth);
    &:last-child {
      padding-right: 0;
    }
  }
  &__name {
    display: block;
    margin-bottom: 80px;

    text-align: center;

    @include center();
    @include font(30px, 20px, $fntSans);
    @include textDecor(normal, uppercase, none, $fntColorWhite);
  }
  &__text {
    text-align: center;

    @include font(14px, 24px, $fntSans);
    @include textDecor(normal, uppercase, none, $fntColorWhite);
  }
}

.index-content {
  width: 100%;
  margin-bottom: 35px;

  background: #f8f5f2 url($bgContentPath);

  @include clearfix();
  &__left {
    float: left;
    width: 380px;

    font-size: 0;

    @include indexContentBox();
  }
  &__right {
    float: left;
    width: $indexContentBox;

    @include indexContentBox();
  }
  &__title {
    width: 370px;
    margin-top: 0;

    @include font(30px, 30px, $fntSans);
    @include textDecor(bold, uppercase, none, $fntColorBlack);
  }
  p {
    margin-bottom: 30px;

    @include font(14px, 24px, $fntSans);
    @include textDecor(bold, uppercase, none, $fntColorBlack);
  }
  .btn {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.news-preview {
  float: left;
  width: 300px;

  @include indexContentBox();
  &__title {
    margin-top: 0;

    @include font(30px, 30px, $fntSans);
    @include textDecor(bold, uppercase, none, $fntColorBlack);
  }
  &__item {
    margin-bottom: 30px;

    list-style: none;
  }
  &__text {
    @include font(14px, 24px, $fntSans);
    @include textDecor(bold, uppercase, none, $fntColorBlack);
  }
  &__time {
    @include font(14px, auto, $fntSans);
    @include textDecor(normal, none, none, $fntColorBlack);
  }
}

.btn {
  @include inlineBlock();
  @include indexButton();
  &--input {
    width: 290px;

    border: none;
    &--galery-prev {
      width: 130px;
      padding-right: 20px;
      padding-left: 50px;
    }
  }
}

.index-galery {
  float: left;
  width: $indexContentBox;
  padding-left: 100px;

  @include indexContentBox();
  &__title {
    margin-top: 0;

    @include font(30px, 30px, $fntSans);
    @include textDecor(bold, uppercase, none, $fntColorBlack);
  }
  &__photo {
    overflow: hidden;
    width: 300px;
    margin-bottom: 44px;
  }
}


.appointment-form {
  @include clearfix();
  input {
    float: left;
    width: 115px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 0;
    padding-left: 15px;

    background: $bgColorInput;

    border: 2px solid $colorInputBorder;
    @include font(14px, 18px, $fntSans);
    @include textDecor(bold, uppercase, none, $fntColorBlack);
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
