.index-logo {
  margin-top: 57px;
  margin-bottom: 20px;

  @include size($logoWidth);
  @include center();
}

.features {
  margin-bottom: 80px;

  font-size: 0;
  &__item {
    margin-right: 15px;

    @include inlineBlock(top);
    @include size($featureWidth);
    &:last-child {
      padding-right: 0;
    }
  }
  &__name {
    display: block;

    margin-bottom: 80px;

    text-align: center;

    @include center();
    @include font(30px, 20px, $fntSans);
    @include textDecor(normal, uppercase, none, $fntColorWhite);
  }
  &__text {
    text-align: center;

    @include font(14px, 24px, $fntSans);
    @include textDecor(normal, uppercase, none, $fntColorWhite);
  }
}

.index-content {
  margin-bottom: 35px;

  background: url($bgContentPath);

  @include clearfix();
  &__left {
    float: left;

    width: $indexContentBox;

    @include indexContentBox();
  }
  &__right {
    float: left;

    width: $indexContentBox;

    @include indexContentBox();
  }
}

.news-preview {
  float: left;

  width: $indexContentBox;

  @include indexContentBox();
  &__title {
    margin-top: 0;

    @include font(30px, 30px, $fntSans);
    @include textDecor(bold, uppercase, none, $fntColorBlack);
  }
  &__item {
    margin-bottom: 30px;

    list-style: none;
  }
  &__text {
    @include font(14px, 24px, $fntSans);
    @include textDecor(bold, uppercase, none, $fntColorBlack);
  }
  &__time {
    @include font(14px, auto, $fntSans);
    @include textDecor(normal, none, none, $fntColorBlack);
  }
}

.btn {
  @include indexButton();
}

.index-galery {
  float: left;

  width: $indexContentBox;

  @include indexContentBox();
  &__title {
    margin-top: 0;

    @include font(30px, 30px, $fntSans);
    @include textDecor(bold, uppercase, none, $fntColorBlack);
  }
  &__photo {
    margin-bottom: 44px;
  }
}
