.index-logo {
  @include size($logoWidth);
  @include center();
  margin-top: 57px;
  margin-bottom: 20px;
}

.features {
  font-size: 0px;
  margin-bottom: 80px;

  &__item {
    @include inlineBlock(top);
    @include size($featureWidth);
    margin-right: 15px;

     &:last-child {padding-right: 0px;}
  }



  &__name {
    display: block;
    margin-bottom: 80px;
    text-align: center;
    @include center();

    @include font(30px, 20px, $fntSans);
    @include textDecor(normal, uppercase, none, $fntColorWhite);
  }

  &__text{
    @include font(14px, 24px, $fntSans);
    @include textDecor(normal, uppercase, none, $fntColorWhite);
    text-align: center;
  }
}


.index-content {
  background: url($bgContentPath);
  @include clearfix();
  margin-bottom: 35px;

  &__left {
     width: $indexContentBox;
     @include indexContentBox();
     float: left;
  }


  &__right {
     width: $indexContentBox;
     @include indexContentBox();
     float: left;
  }

}

.news-preview {
   width: $indexContentBox;
   @include indexContentBox();
   float: left;

   &__title {
    margin-top: 0px;
    @include font(30px, 30px, $fntSans);
    @include textDecor(bold, uppercase, none, $fntColorBlack);
   }

   &__item {
      list-style: none;
      margin-bottom: 30px;
   }

   &__text {
    @include font(14px, 24px, $fntSans);
    @include textDecor(bold, uppercase, none, $fntColorBlack);
   }

   &__time {
    @include font(14px, auto, $fntSans);
    @include textDecor(normal, none, none, $fntColorBlack);
   }
}

.btn {
  @include indexButton();
}

.index-galery {
  width: $indexContentBox;
   @include indexContentBox();
   float: left;

    &__title {
    margin-top: 0px;
    @include font(30px, 30px, $fntSans);
    @include textDecor(bold, uppercase, none, $fntColorBlack);
   }

   &__photo {
    margin-bottom: 44px;
   }
}


