
/* Colors */
$bgColorHeader: #000000;
$bgColorFooter: #000000;

$bgColorPriceTag: #e5e5e5;
$bgColorPriceButton: #000000;
$bgColorPriceButtonActive: #663d15;
$bgColorInput: #f9f6f3;

$fntColorWhite: #ffffff;
$fntColorBlack: #000000;
$fntColorBreadcrumbLast: #aba9a7;
$fntColorElemBlocked: #acaaa8;
$fntColorElemActive: #663d15;


$colorElemActive: #663d15;
$colorBlack: #000000;
$colorWhite: #ffffff;


/* Background paths */
$bgContentPath: "./../img/bgContent.jpg";
$bgBodyPath: "./../img/indexBackground.jpg";


/* sizes */

$mainWidth: 940px;

$fntSans: "PT Sans Narrow", "Arial", sans-serif;


/* block sizes */

$mainNavSize: 640px;
$logoWidth: 368px;
$featureWidth: 290px;
$indexContentBox: 300px;



